  <!DOCTYPE html>
  <html ng-app="EscolaWebApp">
    <head>
      <meta charset="utf-8">
      <title>Projeto Integrado – Tópicos Especiais e Programação Web.</title>

      <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" type="text/javascript"> </script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- EscolaWebApp - Aplicação Angular -->
      <script src="JS/app.js" type="text/javascript"></script>
      <link rel="stylesheet" href="CSS/index.css" type="text/css"/>
      <link rel="stylesheet" href="CSS/menu.css" type="text/css"/>

    </head>
    <body>
      <div class="meu-container">
        <header ng-controller="MeuSegundoController">
          Projeto Integrado – Tópicos Especiais e Programação Web.
          <nav>
            <ul class="navigation">
              <li><a href="aluno.html">Aluno</a></li>
              <li><a href="campus.html">Campus</a></li>
              <li><a href="curso.html">Curso</a></li>
              <li><a href="disciplina.html">Disciplina</a></li>
              <li><a href="endereco.html">Endereço</a></li>
              <li><a href="escola.html">Escola</a></li>
              <li><a href="turma.html">Turma</a></li>
              <li><a href="turno.html">Turno</a></li>
            </ul>
          </nav>
        </header>
        <main ng-controller="MeuPrimeiroController">
          <input type="text" ng-model="logradouro" name="logradouro" value="">
          <h1> Meu logradouro é {{logradouro}}</h1>

          <input type="number" ng-model="numero1">
          <input type="number" ng-model="numero2">

          <button ng-click="somar(numero1, numero2)" > Somar </button>
          <h2>{{resultado}}</h2>

        </main>
        <footer>
          Odaliene Azevêdo e Wagner Nascimento - 4° ano de Informática
        </footer>
      </div>
    </body>
  </html>
