<form name="professorform">
  <div class="form-group">
    <label for="nome">Nome do Professor: </label>
    <input type="text" class="form-control" name="nome" ng-model="professor.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>

    <!-- ng-messages | campo nome | 1st -->
    <div ng-messages="professorform.nome.$error" ng-if='professorform.nome.$dirty'>
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-info">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>
  </div>

  <!-- Botões -->
  <button type='reset' name='limpar' class="btn btn-secondary btn-lg btn-block">
    Limpar
  </button>
  <button ng-click="listar()" class="btn btn-dark btn-lg btn-block">
    Listar
  </button>
</form>

<!-- Tabela de Professores -->
<div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Código do endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="professor in professores">
        <td scope="row">{{professor.id_professor}}</td>
        <td scope="row">{{professor.nome}}</td>
        <td scope="row">{{professor.id_endereco}}</td>
      </tr>
    </tbody>
  </table>
</div>
