<!DOCTYPE html>
<html ng-app="EscolaWebApp" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cadastro Turma</title>
    <link rel="shortcut icon" href="logo.png"></link>
    <link href="CSS/index.css" rel="stylesheet" type="text/css">
		<link href="CSS/menu.css" rel="stylesheet" type="text/css">
    <link href="CSS/estilo.css" rel="stylesheet" type="text/css">


    <!-- AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-messages.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

		<!-- bootstrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Escola Web App - aplicação Angular -->
    <script src="js/app.js" type="text/javascript"></script>

	</head>
  <body>
    <header>
      Cadastros
      <nav class="navbar navbar-expand-lg navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon white">=</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="Aluno.html">Aluno</a>
            <a class="nav-item nav-link" href="Campus.html">Campus</a>
            <a class="nav-item nav-link" href="Curso.html">Curso</a>
            <a class="nav-item nav-link" href="Disciplina.html">Disciplina</a>
            <a class="nav-item nav-link" href="Endereco.html">Endereço</a>
            <a class="nav-item nav-link" href="Escola.html">Escola</a>
            <a class="nav-item nav-link" href="Professor.html">Professor</a>
            <a class="nav-item nav-link" href="Turma.html">Turma</a>
            <a class="nav-item nav-link" href="Turno.html">Turno</a>
          </div>
          <div class="pic">
            <a href="index.html">
              <img src="logo.png" class="right" style="width:60px;height:60px">
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main ng-controller="TurmaController" class="forms">
      <form class="formulario" action="http://localhost:5000/turma" method="POST" name="turmaform">
        <div class="form-group">
          <label for="nome">Nome da Turma: </label>
          <input type="text" class="form-control" name="nome" ng-model="turma.nome" placeholder="Nome" ng-required="true" ng-minlength="5"/>

          <!-- ng-messages | campo nome | 1st -->
          <div ng-messages="turmaform.nome.$error" ng-if='turmaform.nome.$dirty'>
      			<div ng-message="required" class="alert alert-danger">
      				Por favor, preencha o campo nome!
      			</div>
      			<div ng-message="minlength" class="alert alert-info">
      				O campo nome deve ter no mínimo 5 caracteres.
      			</div>
      		</div>
        </div>
        <div class="form-group">
          <label for="id_curso">Curso: </label>
          <input type="text" class="form-control" name="id_curso" ng-model="turma.id_curso" placeholder="ID curso" ng-required="true">

          <!-- ng-messages | campo ID curso | 2nd -->
          <div ng-messages="turmaform.id_curso.$error" ng-if='turmaform.id_curso.$dirty'>
      			<div ng-message="required" class="alert alert-danger">
      				Por favor, preencha o campo ID curso!
      			</div>
      		</div>
        </div>
	<button type="reset" name="Redefinir" value="Redefinir" class="btn btn-light">Redefinir</button>
        <p></p>
        <button ng-click="cadastrar()" ng-disabled="turmaform.$invalid" type="button" name="Cadastrar" value="Cadastrar" class="btn btn-outline-light btn-block">Cadastrar</button>
      </form>
    </main>
    <footer>
      <h6> Projeto - Beatriz Pontes da Costa e Emanuelle Alves de Lima</h6>
    </footer>
  </body>
</html>
